*{
    margin:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:"Poppins",sans-serif  ;
    cursor: default;
}
a,
 .logo{
    cursor: pointer;
}
@font-face {
    font-family:"Poppins" ;
    src: url("/font/poppins/poppins-regular-webfont.woff2") format("woff2"),
         url("/font/poppins/poppins-regular-webfont.woff") format("woff"),
}
@font-face {
    font-family:"Poppins-bold" ;
    src: url("/font/poppins/poppins-bold-webfont.woff2") format("woff2"),
         url("/font/poppins/poppins-bold-webfont.woff") format("woff"),
}
@font-face {
    font-family:"Poppins-extrabold" ;
    src: url("/font/poppins/poppins-extrabold-webfont.woff2") format("woff2"),
         url("/font/poppins/poppins-extrabold-webfont.woff") format("woff"),
}
@font-face {
    font-family:"Poppins-light" ;
    src: url("/font/poppins/poppins-light-webfont.woff2") format("woff2"),
         url("/font/poppins/poppins-light-webfont.woff") format("woff"),
}
@font-face {
    font-family:"Poppins-medium" ;
    src: url("/font/poppins/poppins-medium-webfont.woff2") format("woff2"),
         url("/font/poppins/poppins-medium-webfont.woff") format("woff"),
}
.wrapper{
    margin: 0 auto;
    max-width: 1180px;
}
.logo{
   width: 12%;
}
#main{
    color: #fff;
    background-color: #3646f1;   
}
#main header{
    width: 100%;
    transition:  0.3s; 
}
#main .hero-image{
    background-image: url("../images/home2.svg"),url("../images/home1.svg"),url("../images/hero3.svg");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: -20% 100%, 120% 100%,50% 100%;
    background-size:600px,600px,auto;
}
#main .nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#main .logo img{
    width: 100%;
    display: block;
}
#main .nav-item .nav-list ul {
    display: flex;
    gap: 30px;
   margin-right: 50px;
}
#main .nav-item .nav-list ul li a{
    color:#fff;
    font-family: "Poppins";
}
#main .nav-item .nav-list ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#main .nav-item .login{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#main .nav-item .login .hamburg{
    font-size: 30px;
}
#main .nav-item .login a{
    background: #fff;
    color: black;
    /* padding: 13px; */
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 40px;
    font-weight: 700;
    /* font-family: "Poppins-medium";    */
}
#main .nav-item .login a:hover{
    box-shadow:  2px 8px 5px rgba(32, 32, 32, 0.2);
}
#main .nav-item .hamburg{
    display: none;
    cursor: pointer;
}
#main .hamburg-item{
    display: none;
}
#main #spotlight{
    padding:120px 0 160px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main #spotlight .content{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main #spotlight .content h1{
    font-family: "Poppins-extrabold";
    font-size: 65px;
    text-transform: uppercase;
    line-height: 1;
    word-spacing: 3px;
    text-align: center;
}
#main #spotlight .content p{
    font-family: "Poppins-light";
    font-size: 18px;
    text-align: center;
    line-height: 1.625;
    margin-top: 20px;
    word-spacing: 3px;
    width: 89%;
}
#main #spotlight .content .content-btn{
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main #spotlight .content .content-btn a{ 
    margin-right: 24px;
    padding: 18px 28px;
    border-radius: 28px;
}
#main #spotlight .content .content-btn a:last-child{ 
    margin-right: 0;
    
}
#main #spotlight .content .content-btn .btn-one {
    background-color: #fff;
    color: #000;
}
#main #spotlight .content .content-btn .btn-one:hover {
    color:#5865f2;
    box-shadow:  2px 8px 5px rgba(32, 32, 32, 0.2);
}
#main #spotlight .content .content-btn .btn-one i{
    font-size: 20px;
    margin-right: 14px;
    color: #000;
}
#main #spotlight .content .content-btn .btn-two {
    background-color: #000;
    color: #fff;
}
#main #spotlight .content .content-btn .btn-two:hover {
    opacity: 0.7;
    box-shadow:  2px 8px 5px rgba(32, 32, 32, 0.2);
}

/* about.... */
#about .container{
    padding: 120px 0 130px;
    display: flex;
    gap: 50px;    
}
#about .container .left{
    width: 50%;
}
#about .container .right{
    width: 50%;
}
#about .container .left .about-img{
    width:96%; 
}
#about .left .about-img img{
    width: 100%;
    display: block;
}
#about .container .right h3{
    font-family: "Poppins-bold";
    margin-top: 50px;
    font-size: 40px;
    width: 70%;
    word-spacing: 2px;
    line-height: 1.3;
}
#about .container .right p{
    font-family: "Poppins";
    width: 75%;
    word-spacing: 2px;
    line-height: 32px;
    margin-top: 20px;
    font-size: 18px;
    color: #5a5b5b;
}

/* connect...... */
#connect{
    background-color: #f6f6f6;
}
#connect .connect-container{
    padding: 120px 0;
    display: flex;
    gap: 50px;
}
#connect .connect-container .left{
    width: 50%;
}
#connect .connect-container .right{
    width: 50%;
}
#connect .connect-container .left h3{
    font-family: "Poppins-bold";
    font-size: 40px;
    width: 60%;
    word-spacing: 2px;
    line-height: 1.3;
    margin-top: 50px;
}
#connect .connect-container .left p{
    font-family: "Poppins";
    width: 75%;
    word-spacing: 2px;
    line-height: 28px;
    margin-top: 20px;
    font-size: 18px;
    color: #5a5b5b;
}
#connect .connect-container .right .connect-img{
    width:90%; 
}
#connect .connect-container .right .connect-img img{
    width: 100%;
    display: block;
}

/* fandom..... */
#fandom .fandom-container{
    padding: 120px 0 130px;
    display: flex;
    gap: 50px;
}
#fandom .fandom-container .left{
    width: 60%;
    margin-right: 80px;
}
#fandom .fandom-container .right{
    width: 40%;
    padding-top: 70px;
}
#fandom .fandom-container .left .about-img{
    width:90%; 
}
#fandom .left .fandom-img img{
    width: 100%;
    display: block;
}
#fandom .fandom-container .right h3{
    font-family: "Poppins-bold";
    font-size: 40px;
    width: 70%;
    word-spacing: 2px;
    line-height: 1.3;
    margin-top: 50px;
}
#fandom .fandom-container .right p{
    font-family: "Poppins";
    word-spacing: 2px;
    line-height: 28px;
    margin-top: 20px;
    font-size: 18px;
    color: #5a5b5b;
}

/* footer... */
#footer{
    background-color: #23272A;

}
#footer .container{
    padding: 80px 0 64px;
}
#footer .container .top{
    display: flex;
    align-items: start;
    padding-bottom: 50px;
}
#footer .container .top .left #language-select {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px 10px;
}
#footer .container .top .left #language-select option.main{
    color: #fff;
}
#footer .container .top .left #language-select .flag{
    width: 60%;
}
select {
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#footer .container .top .left #language-select option {
    display: flex; 
    align-items: center; 
    padding-left: 20px;
    color: #000;
  }
  
#footer .container .top .left #language-select option img {
    width: 20px; 
    height: auto;
  }
/* [data-flag]::before {
    content: "";
    display: flex;
    width: 10%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  [data-flag="us"]::before {
    background-image: url('../images/flag-en.jpg');
  } */

#footer .container .top .left .social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    gap: 10px;
}
#footer .container .top .right {
    display: flex;
}
#footer .container .top .right ul{
    margin-right: 20px;
}
#footer .container .top .right ul:last-child{
    margin-right: 0px;
}
#footer .container .top .right ul li{
    margin-top: 12px;
    font-size: 14px;
    word-spacing: 5px;
}
#footer .container .top .right ul li a{
    color: #fff;
    font-family: "Poppins-light";
    line-height: 24px;
}
#footer .container .top .right ul li:first-child{
    margin-top: 0;
}
#footer .container .top .right .highlight{
    color: #5865F2;
}
#footer .container .top .right .li .highlight{
    margin-bottom: 30px;
}

#footer .container .bottom{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #5865F2;
}
#footer .container .bottom a{
    color: #fff;
    background-color: #5865F2;
    border-radius: 40px;
    padding: 12px 16px;
    font-size: 14px;
    font-family: "Poppins-medium";
}
#footer .container .bottom a:hover{
    background-color: #8891f2;
}
.language-select {
    background:#fff;
    overflow-y: scroll;
}
.language-select li{
    margin: 10px 0;
   
}
.language-select li a{
    color:black;
    
}

/* responsive..... */
@media all and (max-width:1440px){
    .wrapper{
        margin: 0 auto;
        max-width: 1180px;
    }
  
    #main .hamburg-item{
        display: none;
    }
}
@media all and (max-width:1280px){
    #main .hero-image{
        background-position: -42% 100%, 134% 100%,50% 100%;
        background-size:600px,600px,auto;
    } 
}
@media all and (max-width:1080px){
    .wrapper{
        margin: 0 auto;
        max-width: 1000px;
    }
    #main .hero-image{
        background-position: -65% 100%, 165% 100%,50% 100%;
        background-size:600px,600px,auto;
    } 
    #main #spotlight .content p{
        font-family: "Poppins";
        font-size: 18px;
        width: 98%;
    }
    #main #spotlight .content .content-btn a{ 
        margin-right: 20px;
    }
    #about .container .right p{
        width: 73%;
    }
    #connect .connect-container .left p{
        width: 76%;
    }
    #fandom .fandom-container .right h3{
        width: 83%;
    }
    #fandom .fandom-container .right p{
        width: 90%;
    }
  
}
@media all and (max-width:980px){
    .wrapper{
        margin: 0 auto;
        max-width: 900px;
    }
    .logo{
        width: 15%;
        cursor: pointer;
     }
    #main .hero-image{
        background-image: url("../images/home2.svg");
        background-position: 10% 100%;
        background-repeat: no-repeat;
        background-size: 600px;
    }
    #main header{
        position:fixed;
        z-index: 1;
    }
    body.scrolling header {
        background-color: #5865f2;
      }
    #main .nav-item .nav-list ul{
        display: none;
    }
    #main .nav-item .hamburg{
        display:flex ;
    }
    #main .hamburg-item{
        display: none;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        padding: 24px 24px 50px 25px;
        position: fixed;
        right:-10px;
        top: 1px;
        transform: translate(0px) translate(0px);
        transition:  300ms ease 0s;
        opacity: 1;
        gap: 0;
        border-top-left-radius: 10px;
        height: 100vh;
        color: #23272A;
    }
    #main .hamburg-item.active{
        display: flex;
        right: 0;
    }
    #main .hamburg-item .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }
    #main .hamburg-item .top .hamburg-logo{
        width: 40%;
        filter: invert();
    }
    #main .hamburg-item .top .hamburg-login{
        color: #000;
    }
    #main .hamburg-item .top span{
        color: #000;
        font-size: 30px;
    }
    #main .hamburg-item .top {
        padding-bottom: 20px;
    }
    #main .hamburg-item .bottom{
        border-top:1px solid #111;
        padding: 20px 0 10px;
        line-height: 40px;
    }
    #main .hamburg-item .bottom .hamburg-list ul{
        padding-left: 0;
        padding-bottom: 30px;
    }
    #main .hamburg-item .bottom .hamburg-list ul li a{
       font-size: 16px;
       line-height: 24px;
       font-family: "Poppins-medium";
       color:#000;
       margin-bottom: 50px;
       padding: 8px 16px;
    }
    #main .hamburg-item .bottom .hamburg-list ul li.arrow a{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
    #main .hamburg-item .bottom .hamburg-list ul li.arrow a i{
        font-size: 20px;
        font-weight: 900;
    }
    #main .hamburg-item .bottom .hamburg-dwnld{
        margin: 30px 0 60px ;
    }
    #main .hamburg-item .bottom .btn-dwnld{
        background-color: #5865F2;
        padding: 12px 90px;
        color: #fff;
        text-align: center;
        border-radius: 28px;
    }

    #main #spotlight{
        padding-top: 150px;
        padding-bottom: 330px;
    }
    #main #spotlight .content{
        margin: 0 0 ;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    #main #spotlight .content h1{
        text-align: left;
        margin-left: 50px;
    }
    #main #spotlight .content p{
        text-align: left;
        margin-left: 50px;
    }
    #main #spotlight .content .content-btn{
        text-align: left;
    }
    #about .container{
        flex-wrap: wrap;
        align-items: center;
    }
    #about .container .left{
        width: fit-content;
    }
    #about .container .right{
        width: fit-content;
    }
    #about .container .left .about-img{
        width:80%; 
    }
    #about .container .right h3{
        margin-top: 10px;
        font-size: 30px;
        width: 100%;
        word-spacing: 2px;
        line-height: 1.3;
    }
    #about .container .right p{
        width: 100%;
        font-size: 17px;
        line-height: 30px;
        word-spacing: 1px;
    }
    #connect .connect-container{
        flex-wrap:wrap-reverse;
        align-items: center;
    }
    #connect .connect-container .left{
        width: fit-content;
    }
    #connect .connect-container .right{
        width: fit-content;
    }
    #connect .connect-container .left h3{
        margin-top: 10px;
        font-size: 30px;
        width: 100%;
        word-spacing: 2px;
        line-height: 1.3;
    }
    #connect .connect-container .left p{
        width: 100%;
        font-size: 17px;
        line-height: 30px;
        word-spacing: 1px;
    }
    #connect .connect-container .right .connect-img{
        width:80%; 
    }
    #fandom .fandom-container{
        flex-wrap: wrap;
        align-items: center;
    }
    #fandom .fandom-container .left{
        width: fit-content;
    }
    #fandom .fandom-container .right{
        width: fit-content;
    }
    #fandom .fandom-container .left .about-img{
        width:80%; 
    }
    
    #fandom .fandom-container .right h3{
        margin-top: 10px;
        font-size: 30px;
        width: 100%;
        word-spacing: 2px;
        line-height: 1.3;
    }
    #fandom .fandom-container .right p{
        width: 100%;
        font-size: 17px;
        line-height: 30px;
        word-spacing: 1px;
    }
    #footer .container .top .right {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: 80px;
    }
}
@media all and (max-width:768px){
    .wrapper{
        margin: 0 auto;
        width: 100%;
        padding: 0 30px;
    }
    .logo{
        width: 18%;
    }
    #main .hero-image{
        background-position: -20% 100%;
        background-repeat: no-repeat;
        background-size: 600px;
    }
    #main #spotlight{
        padding-top: 150px;
    }
    #main #spotlight .content{
        margin-top:140px;
        align-items: start;
        justify-content: start;
    }
    #main #spotlight .content h1{
        text-align: center;
        font-size: 56px;
        font-weight: 900;
        word-spacing: 3px;
        margin: 0 200px;
    }
    #main #spotlight .content p{
        font-size: 17px;
        margin: 0 30px;        
    }
    #main #spotlight{
        padding-top: 0px;
    }
    #about .container .left .about-img{
        width:90%; 
    }
    #about .container{
        padding: 60px 0 100px;
           
    }
    #connect .connect-container{
        padding: 60px 0;
        gap: 0;
    }
    #connect .connect-container .right .connect-img{
        width:90%; 
    }
    #fandom .fandom-container{
        padding: 60px 0 100px;
        gap: 0;
    }
    #fandom .fandom-container .left .about-img{
        width:90%; 
    }
}
@media all and (max-width:640px){
    .wrapper{
        margin: 0 auto;
        width: 100%;
        padding: 0 30px;
    }
    .logo{
        width: 20%;
    }
    #main #spotlight .content{
        padding-top: 50px;
    }
    #main #spotlight .content h1{
        text-align: center;
        font-size: 30px;
        margin: 0 ;
    }
    #main #spotlight .content p{
        font-size: 14px;
        margin: 10px 0 0 ;   
        line-height: 1.7;           
    }
    #main #spotlight .content .content-btn{
        flex-direction: column;
        gap: 25px;
    }
    #footer .container .top{
        flex-direction: column;
        gap: 50px;
        padding-bottom: 50px;
    }
    
    #footer .container .top .right ul{
        padding-left: 0;
        margin-right: 60px;
    }
}
@media all and (max-width:540px){
    .logo{
        width: 25%;
    }
    #main .hero-image{
        background-position: 60% 100%;
        background-repeat: no-repeat;
        background-size: 600px;
    }
    #main #spotlight .content h1{
        text-align: center;
        font-size: 28px;
        margin: 0 ;
    }
    #main #spotlight .content p{
        font-size: 14px;
        margin: 10px 0 0 ;   
        line-height: 2;           
    }
    #main #spotlight .content .content-btn .btn-two {
        display: none;
    }
    #main #spotlight{
        padding-bottom: 300px;
    }
    #about .container .right h3{
        font-size: 24px;
        word-spacing: 2px;
        line-height: 1.5;
        font-family: 900px;
    }
    #about .container .right p{
        font-size: 13px;
        line-height: 2;
        word-spacing: 2;
    }
    #connect .connect-container .left h3{
        font-size: 24px;
        word-spacing: 2px;
        line-height: 1.5;
        font-family: 900px;
    }
    #connect .connect-container .left p{
        font-size: 13px;
        line-height: 2;
        word-spacing: 2;
    }
    #fandom .fandom-container .right h3{
        font-size: 24px;
        word-spacing: 2px;
        line-height: 1.5;
        font-family: 900px;
    }
    #fandom .fandom-container .right p{
        font-size: 13px;
        line-height: 2;
        word-spacing: 2;
    }
    
}
@media all and (max-width:480px){
    #main .hero-image{
        background-position: 60% 100%;
        background-repeat: no-repeat;
        background-size: 550px;
    }
    #main #spotlight{
        padding-bottom: 270px;
    }
    #about .container{
        padding: 50px 0 120px;
        gap: 10px;
    }
    #about .container .left .about-img{
        width: fit-content;
    }
    #about .container .right h3{
        font-size: 20px;
    }
    #about .container .right p{
        font-size: 14px;
    }
    #connect .connect-container{
        padding: 50px 0;
        gap: 10px;
    }
    #connect .connect-container .right .connect-img{
        width: fit-content;
    }
    #connect .connect-container .left h3{
        font-size: 20px;
    }
    #connect .connect-container .left p{
        font-size: 14px;
    }
    #fandom .fandom-container{
        padding: 50px 0 120px;
        gap: 10px;
    }
    #fandom .fandom-container .left{
        margin-right: 0;
    }
    #fandom .fandom-container .left .about-img{
        width: fit-content ;
    }
    #fandom .fandom-container .right{
        padding-top: 40px;
    }
    #fandom .fandom-container .right h3{
        font-size: 20px;
    }
    #fandom .fandom-container .right p{
        font-size: 14px;
    }
    #footer .container .top .right ul{
        padding-left: 0;
        margin-right: 60px;
    }
}
@media all and (max-width:360px){
    .wrapper{
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }
    .logo{
        width: 40%;
    }
    #main .hero-image{
        background-position: 150% 100%;
        background-repeat: no-repeat;
        background-size: 400px;
    }
    #main #spotlight{
        padding-bottom: 230px;
    }
    #main .nav-item .login a{
        display: none;  
    }
    #main #spotlight .content h1{
        font-size: 24px;
        font-weight: 900;
    }
    #main #spotlight .content p{
        font-size: 12px;
        line-height: 1.6;
        font-weight: 500;
    }
    #main #spotlight .content .content-btn{
        margin-top: 20px;
    }
    #about .container .right p{
        font-size: 13px;
    }
    #connect .connect-container .left p{
        font-size: 13px;
    }
    #fandom .fandom-container .right p{
        font-size: 13px;
    }
}

